on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch: {}
jobs:
  publish-charts:
    container:
      image: alpine/helm:3.17.2
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: |
          echo "helm_registry=ghcr.io" >> $GITHUB_ENV
          echo "helm_username=${{ github.actor }}" >> $GITHUB_ENV
          echo "helm_password=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          echo "git_repo_owner=$GITHUB_REPOSITORY_OWNER" >> $GITHUB_ENV
      - run: ./pipeline.sh
      - if: github.event_name == 'push'
        run: ./pipeline.sh push
